<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/second.css">
    <title>Ai</title>
</head>

<body>
    <%- include('./partials/nav') %>


        <div class="container">
            <br>
            <div>
                <img style="max-width: 200px;" src="/assets/football.jpg" alt="image">
            </div>

            <div style="color: white;" class="container-text">
                <h2>Prompt: <%= data.prompt %></h2>
                <p><%= data.response %></p>
            </div>
        </div>


        <script src="/js/main.js"></script>

</body>

</html>