<div style="margin-left: 15%; margin-right: 15%;" class="topnav" id="myTopnav">
    <a href="/" class="">Home</a>
    <a href="/chat">Chat</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
